* {
  font-family: 'Gothic A1', sans-serif;
}

.comfortaa {
  font-family: 'Comfortaa', sans-serif !important;
}

.heroSection, .ready{
  background: linear-gradient(90deg, #64A7FE, #7AD7F5);
}

.alert {
  display: none;
}

.img-fluid.logo {
	width: 50px;
}

.navbar-collapse {
  margin-right: 3vw;
}

.navbar-brand span {
  margin-left: 2vw;
	font-size: 35px;
	font-weight: bold;
	color: white;
	vertical-align: middle;
  font-family: 'Comfortaa', sans-serif;
}

a .line {
	height: 5px;
	width: 100%;
	background: #FC0A7E;
	position: absolute;
	left: 50%;
	bottom: -5px;
	transform: translateX(-50%);
  display: none;
  transition: 0.5s;
}

a:hover .line {
  display: block !important;
  transition: 0.5s;
}

h1 {
  font-size: 55px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.btn:hover {
	box-shadow: 5px 5px 10px #FC0A7E !important;
}

.toggle:hover {
  box-shadow: none !important;
}

.toggle {
  overflow: auto;
  white-space: nowrap;
}

.btn-dark:hover {
	color: white !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-38 {
  font-size: 38px !important;
}

.card.border-0.shadow.rounded.comfortaa {
	border-radius: 20px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.img-fluid.card-img {
	height: 60px;
  width: auto !important;
	margin-bottom: 20px;
}

.fw-bold {
  font-weight: bolder !important;
}

.fs-60 {
  font-size: 60px !important;
}

.fs-24 {
  font-size: 24px;
}

.img-fluid.quot {
	height: 60px;
	margin-bottom: 20px;
}

.btn.btn-prev.text-muted.fs-1.slick-arrow {
	position: absolute;
	z-index: 1;
	left: -100px;
	top: 50%;
	transform: translateY(-50%);
}

.btn.btn-next.text-muted.fs-1.slick-arrow {
	position: absolute;
	z-index: 1;
	right: -100px;
	top: 50%;
	transform: translateY(-50%);
}

.slide img {
	margin: auto;
}

.slick-dots li button::before {
	font-size: 15px;
}

.slick-dots {
	position: absolute;
	bottom: -45px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
}

.quoteSlider.py-5 h3 {
	color: #6b6b6b !important;
}

.text-gray{
	color: #6b6b6b !important;
}

.input-group {
	height: 60px;
	border-radius: 10px !important;
}

.input-group button, .input-group input {
	border: unset !important;
	outline: unset;
}

.fs-14 {
  font-size: 14px;
}

.fs-50 {
  font-size: 50px !important;
}

.img-fluid.w-25.rounded {
	border-radius: 20px !important;
}

.btn:focus {
  outline: unset !important;
  box-shadow: unset !important;
}

.form-control:focus {
  outline: unset !important;
  box-shadow: unset !important;
}

a.active .line {
  display: block !important;
}

.form-control.mt-2 {
	border-radius: 0;
	height: 45px;
	border-color: black;
}

.form-control.mt-2.textarea {
  height: auto !important;
  resize: unset;
}

.ls-2 {
	letter-spacing: 2px;
}

iframe {
  width: 100%;
  height: 560px;
}

.navbar-toggler {
  outline: unset !important;
  box-shadow: unset !important;
  border: unset !important;
}

.navbar-nav {
  text-align: right;
}

.fa.fa-bars {
	color: white !important;
	font-size: 25px !important;
}

body, html {
  overflow-x: hidden !important;
}

.navbar-brand span {
	margin-left: 1vw;
	font-size: 35px;
	font-weight: bold;
	color: white;
	vertical-align: middle;
	position: relative;
	bottom: -5px;
}

.btn.rounded-pill {
	border-radius: 20px !important;
}

.footer .input-group {
	height: 75px;
}

.footer .form-control {
	border: 2px solid #fff !important;
	position: relative;
	z-index: 1000;
	border-radius: 10px;
}

.footer .form-control:hover {
	border: 2px solid #FC0A7E !important;
	position: relative;
	z-index: 1000;
	border-radius: 10px;
}

.input-group .btn {
	width: 150px;
	background: white;
	box-shadow: 0 0 5px black !important;
	border-radius: 0 10px 10px 0 !important;
}

.input-group .btn:hover {
	background: black;
	color: white !important;
	box-shadow: 2px 2px 5px #FC0A7E !important;
}

.shadow {
	box-shadow: 0 0 20px rgb(0, 0, 0, 0.6) !important;
}

.btn {
	box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.6) !important;
  font-weight: bolder;
}

.slick-arrow, .slick-arrow:hover {
	box-shadow: unset !important;
}

.flx {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flx .line {
	width: 50px;
	height: 1px;
	background: rgba(0,0,0,0.3);
	margin-left: 20px;
	margin-right: 20px;
}

.btn.btn-light.py-3.px-5.mt-3.w-75 {
	border-radius: 10px;
	width: 60% !important;
}

.bg-secondary.p-4.text-center {
	background: #DDDDDD !important;
	display: none;
	margin-top: 15px;
}

.input-group.flx {
	height: auto;
	border-radius: 0 !important;
	padding: 0 10px;
	margin-bottom: 10px;
}

#points {
	width: 100%;
}

.ourProducts.py-5 .container {
	width: 75%;
}

.slide h3 {
	max-width: 85%;
	margin: auto;
	font-weight: normal;
}

.img-fluid.card-img {
	height: 45px;
	width: auto !important;
	margin-bottom: 20px;
}

.slide .img-fluid.w-25.rounded.mb-3 {
	width: 35% !important;
}

.card.border-0.shadow.rounded.overflow-hidden.w-75.ms-auto {
	width: 85% !important;
}

.inp.mt-2.flx .input-group {
	width: 50%;
	margin-left: 1vw;
	border-radius: 5px !important;
	margin-bottom: 0;
}

.inp.mt-2.flx {
	justify-content: flex-start;
	align-items: center;
}

.inp.mt-2.flx p {
	margin-bottom: 0  !important;
}

.img-fluid.h-100 {
	height: 400px !important;
	object-fit: cover;
}

.smallImg.img-fluid {
	height: 225px;
	width: 100%;
	object-fit: cover;
	object-position: top;
}

.subheading {
  padding-top: 5vh;
}

.list-intro {
  margin-bottom: 0 !important;
  margin-top: 3vh !important;
}

@media screen and (max-width: 767px) {
  .footer .list-unstyled.m-0.mt-5.p-0.text-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
	.ourProducts.py-5 .container {
		width: 100%;
	}
}
